In [ ]:

import pandas as pd
def url_func(url):
    try:
        df=pd.read_csv(url,header=None)
        return df
    except:
        print('URL is not valid')
url_func('https://github.com/usama6naseer/largest_object/blob/master/log.csv?raw=true')

           0                1
0          9           qq.com
1         11       taobao.com
2         12      twitter.com
3         15           vk.com
4         16         live.com
...      ...              ...
15033  93939       moh.gov.sg
15034  93940  quericavida.com
15035  93941   jihadology.net
15036  93942          vlsu.ru
15037  93943    books24x7.com

[15038 rows x 2 columns]